body {
    font-family: 'Thasadith', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/imagenes/Diseño\ sin\ título\ \(59\).png);
    background-size: cover;
}
.card {
    width: 80%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.4); /* Transparencia con un toque de blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde con color y transparencia */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
}
.card h1{
    font-weight: bolder;
    font-size: 45px;
    color: white;
    text-shadow: 2px 2px 4px rgba(4, 49, 94, 0.582); /* Sombra de texto */
    margin-bottom: 0px;
    margin-top: 5px;
}
.card p{
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 600;
    color: white;
    font-style: oblique;
}
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.botones img{
    margin-right: 10px; /* Espacio entre el icono y el texto */
    margin-left: 10px;
    color: #618396;
    width: 20px;
}
.boton, .botones a {
    text-decoration: none; /* Elimina el subrayado */
    /* Tus otros estilos de botones aquí... */
}
a.boton{
    background-color: #9ad0c27a; /* Fondo semitransparente */
    color: #618396;
    font-size: 18px;
    font-weight: 600;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Borde con color y transparencia */
    border-radius: 40px;
    margin-top: 10px;
    gap: 20px;
}